<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Whiteboard</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

    <h2>Collaborative Drawing Board</h2>
   
    <div class="whiteboard-container relative">
      <canvas id="canvas" width="2000" height="800" class="border"></canvas>
    </div>
  </div>
